<footer class="footer">
  <div class="footer-top">
    <div class="footer-section logo-section">
      <img src="assets/logo.png" alt="Logo Rousse Moda" class="footer-logo" />
    </div>

    <div class="footer-section center-section">
      <h4>UBÍCANOS</h4>
      <p>Calle 28 de Julio 130 – Pasaje Manco Cápac, Florencia de Mora</p>
      <p>Lunes a Sábado: 9:00 am - 9:00 pm.</p>
    </div>

    <div class="footer-section center-section">
      <h4>LEGALES</h4>
      <p><a href="#">Términos y Condiciones</a></p>
      <p><a href="#">Políticas de Devoluciones</a></p>
    </div>

    <div class="footer-section redes-section center-section">
  <h4>SÍGUENOS</h4>
  <div class="footer-redes-icons">
    <img src="assets/redes/whatsapp.png" alt="Whatsapp" />
    <img src="assets/redes/tik-tok.png" alt="TikTok" />
    <img src="assets/redes/instagram.png" alt="Instagram" />
    <img src="assets/redes/facebook.png" alt="Facebook" />
  </div>
</div>

  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025</p>
    <p>Todos los derechos reservados</p>
  </div>
</footer>
