<section id="seccion-nosotros" class="contenedor-nosotros">
    <video  class="responsive-video" [src]="videLocalNosotos" autoplay muted loop playsinline preload="auto"></video>
    <article class="contenedor-texto">
        <div class="fw-bold title-nosotras">
            SOBRE NOSOTRAS
        </div>
        <div class = "description-text">
            <div class="text-left">
                Somos una empresa familiar con más de 20 años de experiencia en la fabricación de calzado femenino, comprometidos con brindar productos de calidad, cómodos y a la moda. Nuestra historia nace en Trujillo, donde crecimos entre máquinas, moldes y mucha pasión por el diseño.
            </div>
            <div class="text-right" >
                Hace 2 años que llevamos nuestra tienda física al mundo digital con transmisiones en vivo a través de TikTok, permitiendo que clientas de todo el Perú accedan a nuestras colecciones desde la comodidad de sus hogares. Somos es más que una marca: es una comunidad que crece con confianza, cariño y estilo.
            </div>
        </div>
    </article>
</section>
<section id="seccion-canales">
    <app-canales></app-canales>
</section>
<section>
    <app-mapa></app-mapa>
</section>



